/.vscode
/CODE-TERRAFORM-IDE.txt
/codeterraform-scripts.json
/codeterraform-workspace.json
/logs
/pyrightconfig.codeterraform.json
/pyrightconfig.json
/typeshed-LICENSE.txt
__pycache__/
/.github
inspirations/.lastaccesslist
docs/Code-Terraform-DOCS-Manual.md
*.tmp
*.pyi
*.pyc
*.pyo
*.pyd
.codeterraform/
internals/
