/.vscode
/CODE-TERRAFORM-IDE.txt
/logs
/typeshed-LICENSE.txt
__pycache__/
/.github
docs/Code-Terraform-DOCS-Manual.md
*.tmp
*.pyi
*.pyc
*.pyo
*.pyd
.codeterraform/
internals/
/.claude
*codeterraform-retired*
codeterraform-scripts.json
codeterraform-workspace.json